<div class="hero is-link has-yellow"
     style="position: sticky;"
>
  <div class="hero-body">
    <div class="container">
      <h3 class="title  has-text-centered has-text-white">Projekt</h3>
      <h4 class="subtitle  has-text-white has-text-centered">A Small Project Management App With Ruby On Rails</h4>
    </div>
  </div>
</div>
<div class="block">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-7">
          <div class="content">
            <h3 class="title is-3 has-text-left">Why Projekt Is So Awesome ?</h3>
            <p>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque dolores eaque eius enim excepturi exercitationem facere fugit hic ipsam libero maxime minima nam perferendis provident quae sint sunt, veritatis.</span></p>
            <p>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae consectetur deleniti, doloribus enim eos expedita explicabo in iste labore neque pariatur quae quod recusandae sapiente sit suscipit vero voluptates.</span></p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae consectetur deleniti, doloribus enim eos expedita explicabo in iste labore neque pariatur quae quod recusandae sapiente sit suscipit vero voluptates.</span></p>
          </div>
        </div>
        <div class="column is-offset1">
          <h4 class="subtitle">Sign Up Today</h4>
          <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary is-outlined" %>
        </div>
      </div>
    </div>
  </section>
</div>

